<div class="container">
    <div class="">
        <form [formGroup]="form">

            <div formArrayName="list">
                <div *ngFor="let form of list.controls; let i = index;">
                    <div formGroupName="{{i}}">
                        <input type="text" formControlName="value">
                    </div>
                </div>
            </div>

        </form>

        <div>
            <button (click)="addItemToList()">Add a filter</button>
        </div>
    </div>
</div>
