

.form {
    max-width: 800px;
    margin: 50px auto;
}

.form-top {
    max-width: 780px;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
}

.form-content {
    padding: 10px;
    border-radius: 5px;
}