
.container {
    max-width: 800px;
    width: 100%;
    margin: 40px auto;
}

.form  {
    min-width: 700px;
    width: 100%;
    padding: 16px;
    border-radius: 6px;
    border: 1px solid #c3c3c3;
}