

<div class="container">
    <form class="form" [formGroup]="form">

        <div class="complex-form">
            <div class="one-level">
                <div class="one-level__inner">
                    <div class="one-level__item">
                        <span>Where</span>
                    </div>
                    <div class="one-level__item">
                        <mat-form-field appearance="outline">
                            <mat-select>
                                <mat-option></mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="one-level__item">
                        <mat-form-field appearance="outline">
                            <mat-select>
                                <mat-option></mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="one-level__item">
                    <mat-form-field appearance="outline">
                        <input type="text" matInput>
                    </mat-form-field>
                    </div>
                </div>
            </div>

            <div class="multi-level">
                <div class="multi-level__inner">
                    <div class="multi-level__logicOperator">
                        <div class="item">
                            <mat-form-field appearance="outline">
                                <mat-select>
                                    <mat-option></mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="multi-level__content">
                        <div class="item">
                            <mat-form-field appearance="outline">
                                <mat-select>
                                    <mat-option></mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="item">
                            <mat-form-field appearance="outline">
                                <mat-select>
                                    <mat-option></mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="item">
                            <mat-form-field appearance="outline">
                                <input type="text" matInput>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        
        <section class="form-bottom">
            <button mat-button [matMenuTriggerFor]="filter" >
                    <mat-icon>add</mat-icon>
                    Add a filter
            </button>
            <mat-menu #filter="">
                <button mat-menu-item (click)="addOneLevelForm()">
                    <mat-icon>add</mat-icon>
                    <span>Add Filter</span>
                </button>
                <button mat-menu-item (click)="addMultiLevelForm()">
                    <mat-icon>library_add</mat-icon>
                    <span>Add a filter group</span>
                </button>
            </mat-menu>
        </section>
        <footer class="footer">
            <button mat-flat-button color="primary">
                Send
            </button>
        </footer>
    </form>
</div>
